<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все книги</title>
</head>
<body>

<div>
    <a th:href="@{/books/new}">Добавить книгу</a>

    <hr>

    <div th:each="book : ${books}">
        <a th:href="@{/books/{id} (id=${book.getId()})}"
           th:text="${book.getTitle() + ', ' +
                      book.getAuthorName() + ', ' +
                      book.getYearOfPublication()}"
        />
    </div>
</div>

<hr>

<div style="font-size: large">
    <a th:href="@{/}">Домашняя страница</a>

    <div>
        <a th:each="page : ${#numbers.sequence(0, pagesAmount - 1, 1)}"
           th:href="@{/books(page=${page},books_per_page=${booksPerPage},sort_by=${sortableField})
            }"
           th:text="${page + 1}"
           style="margin-right: 3pt">
        </a>
    </div>
</div>

</body>
</html>